@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #a2983f;
  --secondary: #c4c8e8;
  --accent: #77702e;
  --background: #e2e3f4;
  --text: #e2e3f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("../../public/dino-background.jpg");
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: var(--primary);
  color: var(--text);
}

form input {
  background-color: var(--accent);
  color: var(--text);
}

::placeholder {
  color: var(--text);
}

form button {
  color: var(--text);
  background-color: var(--primary);
  border: 2px solid var(--accent);
}

form button:hover {
  background-color: var(--accent);
  border: 2px solid var(--primary);
}

li {
  background-color: var(--accent);
}
